<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/frontend-head') %>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" integrity="sha256-UhQQ4fxEeABh4JrcmAJ1+16id/1dnlOEVCFOxDef9Lw=" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css" integrity="sha256-kksNxjDRxd/5+jGurZUJd1sdR2v+ClrCl3svESBaJqw=" crossorigin="anonymous" />
    <link rel="stylesheet" href="css/index.css">
</head>

<body>
    <!-- Preloader -->
    <% include ../partials/navbar %>

    <!-- ***** Slideshow ***** -->
    <section class="hero-area">
        <div class="hero-slides owl-carousel">
            <% for(let i=0; i < result.length; i++) { %>
                <!-- Single Hero Slide -->
                <div class="single-hero-slide bg-img bg-overlay-white" style="background-image: url(<%= result[i].postImage %>);">
                    <div class="container h-100">
                        <div class="row h-100 align-items-center">
                            <div class="col-12">
                                <div class="hero-slides-content">
                                    <h2 data-animation="fadeInUp" data-delay="100ms"><b>Africa Centre of Excellence <br> In Innovative and Transformative <br> STEM Education</b></h2>
                                    <h6 data-animation="fadeInUp" data-delay="400ms">To promote excellence in teaching and learning science, technology, engineering and mathematics</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            <% } %>
        </div>
    </section>

    <!-- ***** VC Speech ***** -->
    <section class="medica-about-us-area section-padding-50" id="vc-speech">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-8">
                    <div class=" w3-container w3-pale-blue w3-leftbar w3-border-blue pb-3"><br>
                        <div style="font-style:italic;" class="speechtext">
                            <span class="fa fa-quote-left"></span>
                            <%- vc_speech.content %>
                            <span class="fa fa-quote-right"></span><br><br/>
                            - <%= vc_speech.summary %>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-lg-4">
                    <div class="row">
                        <!-- Single Service Area -->
                        <div class="col-12 col-sm-12">
                            <img class="img-responsive" src="<%= vc_speech.postImage %>" alt="<%= vc_speech.summary %>">
                        </div>
                        <!-- Single Service Area -->
                        <div class="col-9 col-sm-9"><br>
                            <h4><%- vc_speech.postImageCaption %></h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- ***** Gallery ***** -->
    <div class="medilife-gallery-area owl-carousel">
        <!-- Single Gallery Item -->
        <div class="single-gallery-item">
            <img src="img/gallery-1.jpg" alt="">
        </div>
        <!-- Single Gallery Item -->
        <div class="single-gallery-item">
            <img src="img/gallery-2.jpg" alt="">
        </div>
        <!-- Single Gallery Item -->
        <div class="single-gallery-item">
            <img src="img/gallery-3.jpg" alt="">
        </div>
        <!-- Single Gallery Item -->
        <div class="single-gallery-item">
            <img src="img/gallery-4.jpg" alt="">
        </div>
    </div>

    <!-- ***** Vision, Mision ***** -->
    <div class="container-fluid bg-light p-5">
        <div  class="container my-5">
            <div class="row slideanim">
                <div class="col-sm-4 col-xs-12">
                    <div class="panel panel-default text-center">
                        <div class="panel-heading bg-primary py-4" style="margin-right: -1px">
                            <h1 class="text-white">Mission</h1>
                        </div>
                        <div class="panel-body container-fluid border-0">
                            <p><%- mission.summary %></p>
                        </div>
                        <div class="panel-footer d-none">
                            <a href="/mission"><button class="btn btn-lg">Read More</button></a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-xs-12">
                    <div class="panel panel-default text-center">
                        <div class="panel-heading bg-primary py-4" style="margin-right: -1px">
                            <h1 class="text-white">Vision</h1>
                        </div>
                        <div class="panel-body container-fluid border-0">
                            <p><%- vision.summary %></p>
                        </div>
                        <div class="panel-footer d-none">
                            <a href="/vision"><button class="btn btn-lg">Read More</button></a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-xs-12">
                    <div class="panel panel-default text-center">
                        <div class="panel-heading bg-primary py-4" style="margin-right: -1px">
                            <h1 class="text-white">Objectives</h1>
                        </div>
                        <div class="panel-body container-fluid border-0">
                            <p><%- obj.summary %></p>
                        </div>
                        <div class="panel-footer d-none">
                            <a href="/objectives"><button class="btn btn-lg">Read More</button></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <% include ../partials/footer %>

    <% include ../partials/frontend-scripts %>

</body>
</html>
