<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("../partials/frontend-head", { title: title }) %>
    <style>
        .w3-container ul, .w3-container ol {padding-left: 20px}
        .w3-container ul li {padding-left: 15px; list-style: square outside}
        .w3-container ol li {padding-left: 15px; list-style: decimal outside}
    </style>

</head>

<body>
    <!-- Preloader -->
    <% include ../partials/navbar %>

    <!-- ***** Breadcumb Area Start ***** -->
    <section class="breadcumb-area bg-img gradient-background-overlay" style="background-image: url('<%- content.postImage %>');">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <div class="breadcumb-content">
                        <h3 class="breadcumb-title"><%= title.toUpperCase() %></h3>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Breadcumb Area End ***** -->

    <!-- ***** Blog Area Start ***** -->
    <section class="medilife-blog-area section-padding-50">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 pr-5">
                    <div class=" w3-container w3-leftbar ">
                        <br>
                        <p> <%- content.content %></p>
                        <br><br>
                        <img src="<%= content.postImage %>" alt=""><br><br>
                        <div><%= content.postImageCaption %></div>
                    </div>
                </div>

                <!-- sideNav -->
                <% include ../partials/sideNav %>
            </div>


        </div>
    </section>
    <!-- ***** Blog Area End ***** -->

    <% include ../partials/footer %>

    <% include ../partials/frontend-scripts %>

</body>

</html>