<div class="form-group row">
    <label for="lname" class="col-sm-3 text-right control-label col-form-label"><%= fieldlabel %></label>
    <div class="col-sm-9">
        <input type="text" class="form-control" id="<%= fieldname %>" name="<%= fieldname %>" placeholder="<%= (typeof fieldplaceholder !== 'undefined') ? fieldplaceholder : '' %>" value="<%= valueField %>">
    </div>
</div>