Hello <%= loginInfo.name %>,
An administrator's account has been created for you.
You can now manage content of the <%= siteInfo.siteName %> website.
Your login name is <%= loginInfo.email %>
Your login password is <%= loginInfo.pwd %>
<a href="<%= loginInfo.url %>">LOGIN TO DASHBOARD</p>
Thank you.