<!doctype html>
<html lang="en">
<head>
    <%- include('../partials2/head', {pagename: 'Admin Settings'}) %>
</head>
<body>
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <div class="preloader">
        <div class="lds-ripple">
            <div class="lds-pos"></div>
            <div class="lds-pos"></div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper">
        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->
        <%- include('../partials2/navbar') %>
        <!-- ============================================================== -->
        <!-- End Topbar header -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <%- include('../partials2/aside') %>
        <!-- ============================================================== -->
        <!-- End Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <div class="page-breadcrumb">
                <div class="row">
                    <div class="col-12 d-flex no-block align-items-center">
                        <h4 class="page-title">Adinistrator's Settings</h4>
                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- End Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Sales Cards  -->
                <!-- ============================================================== -->
                <div class="card">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item"> <a class="nav-link active show font-weight-bold" data-toggle="tab" href="#email"
                                role="tab" aria-selected="true"><span class="hidden-sm-up"></span> <span class="hidden-xs-down">Change
                                    Email</span></a> </li>
                        <li class="nav-item"> <a class="nav-link font-weight-bold" data-toggle="tab" href="#password"
                                role="tab" aria-selected="false"><span class="hidden-sm-up"></span> <span class="hidden-xs-down">Change
                                    Password</span></a> </li>
                        <li class="nav-item"> <a class="nav-link font-weight-bold" data-toggle="tab" href="#delete"
                                role="tab" aria-selected="false"><span class="hidden-sm-up"></span> <span class="hidden-xs-down">Delete
                                    Account</span></a> </li>
                    </ul>
                    <!-- Tab panes -->
                    <div class="tab-content tabcontent-border">
                        <div class="tab-pane active show" id="email" role="tabpanel">
                            <div class="card">
                                <form class="form-horizontal">
                                    <div class="card-body">
                                        <div class="form-group row">
                                            <label for="fname" class="col-sm-3 text-right control-label col-form-label">Old
                                                Email</label>
                                            <div class="col-sm-9">
                                                <input type="email" class="form-control" id="email1" placeholder="Old Email Here">
                                            </div>
                                        </div>
                                        <hr>
                                        <input type="hidden" id="dbEmail" name="" value="<%= email%>">
                                        <div class="form-group row">
                                            <label for="fname" class="col-sm-3 text-right control-label col-form-label">New
                                                Email</label>
                                            <div class="col-sm-9">
                                                <input type="email" class="form-control" id="email2" placeholder="New Email Here">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="fname" class="col-sm-3 text-right control-label col-form-label">Confirm
                                                Email</label>
                                            <div class="col-sm-9">
                                                <input type="email" class="form-control" id="email3" placeholder="Enter New Email To Confirm">
                                            </div>
                                        </div>
                                        <p id="msg" class="text-danger font-weight-bold"> </p>
                                    </div>

                                    <div class="border-top">
                                        <div class="card-body">
                                            <button type="button" class="btn btn-primary" onclick="emailCheck()">Submit</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <!-- Modal -->
                            <div class="modal fade" id="emailModal" role="dialog" aria-labelledby="exampleModalLabel"
                                aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Confirmation Message</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <h3>Are you Sure you want to change your email?</h3>
                                            <form action="/dashboard/adminSettings/email?_method=PUT" method="post">
                                                <input type="hidden" id="newEmail" name="newEmail">
                                                <input type="hidden" id="dbEmail" name="dbEmail" value="<%= email%>">
                                                <button class="btn btn-primary">Yes</button>
                                                <button class="btn btn-secondary" data-dismiss="modal">No</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane p-20" id="password" role="tabpanel">
                            <div class="card">
                                <form class="form-horizontal">
                                    <div class="card-body">
                                        <div class="form-group row">
                                            <label for="fname" class="col-sm-3 text-right control-label col-form-label">Old
                                                Password</label>
                                            <div class="col-sm-9">
                                                <input type="password" class="form-control" id="pass1" placeholder="Old Password Here">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="fname" class="col-sm-3 text-right control-label col-form-label">New
                                                Password</label>
                                            <div class="col-sm-9">
                                                <input type="password" class="form-control" id="pass2" placeholder="New Password Here">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="fname" class="col-sm-3 text-right control-label col-form-label">Confirm
                                                Password</label>
                                            <div class="col-sm-9">
                                                <input type="password" class="form-control" id="pass3" placeholder="Enter New Password To Confirm">
                                            </div>
                                        </div>
                                        <p id="msg2" class="text-danger font-weight-bold"> </p>
                                    </div>
                                    <div class="border-top">
                                        <div class="card-body">
                                            <button type="button" class="btn btn-primary" onclick="passwordCheck()">Submit</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <!-- Modal -->
                            <div class="modal fade" id="passwordModal" role="dialog" aria-labelledby="exampleModalLabel"
                                aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Confirmation Message</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <h3>Are you Sure you want to change your Password?</h3>
                                            <form action="/dashboard/adminSettings/password?_method=PUT" method="post">
                                                <input type="hidden" id="newPass" name="newPass">
                                                <input type="hidden" id="dbPass" name="dbPass">
                                                <button class="btn btn-success">Yes</button>
                                                <button class="btn btn-danger" data-dismiss="modal">No</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane p-20" id="delete" role="tabpanel">
                            <div class="card">
                                <form class="form-horizontal">
                                    <div class="card-body">
                                        <div class="form-group row">
                                            <label for="cono1" class="col-sm-3 text-right control-label col-form-label">Leave
                                                a message</label>
                                            <div class="col-sm-9">
                                                <textarea class="form-control" id="comment"></textarea>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="fname" class="col-sm-3 text-right control-label col-form-label">Password</label>
                                            <div class="col-sm-9">
                                                <input type="password" class="form-control" name="password" id="password"
                                                    placeholder="Password Here" onclick="deleteAcc()">
                                            </div>
                                        </div>
                                        <p id="msgD" class="text-danger font-weight-bold"> </p>
                                    </div>
                                    <div class="border-top">
                                        <div class="card-body">
                                            <button type="button" class="btn btn-primary">Submit</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- Recent comment and chats -->
                <!-- ============================================================== -->
            </div>
            <br>
            <!-- ============================================================== -->
            <!-- End Container fluid  -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- footer -->
            <!-- ============================================================== -->
            <footer class="footer text-center">
                All Rights Reserved by Matrix-admin. Designed and Developed by <a href="https://wrappixel.com">WrapPixel</a>.
            </footer>
            <!-- ============================================================== -->
            <!-- End footer -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Page wrapper  -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->
    <script>
        function emailCheck() {
            if (document.getElementById('email2').value == '' || document.getElementById('email3').value == '') {
                document.getElementById('msg').innerHTML = 'Empty fields';
            }
            else if (document.getElementById('email2').value !== document.getElementById('email3').value) {
                document.getElementById('msg').innerHTML = 'Email Mismatch';
            }
            else if (document.getElementById('email1').value !== document.getElementById('dbEmail').value) {
                document.getElementById('msg').innerHTML = 'Invalid Email';
            }
            else {
                document.getElementById('newEmail').value = document.getElementById('email2').value;
                $('#emailModal').modal('show');
            }
        }

        function passwordCheck() {
            if (document.getElementById('pass1').value == '' || document.getElementById('pass2').value == '' || document.getElementById('pass3').value == '') {
                document.getElementById('msg2').innerHTML = 'Empty fields';
            }
            else if (document.getElementById('pass2').value !== document.getElementById('pass3').value) {
                document.getElementById('msg2').innerHTML = 'Password Mismatch';
            }
            else {
                document.getElementById('newPass').value = document.getElementById('pass2').value;
                document.getElementById('dbPass').value = document.getElementById('pass1').value;
                $('#passwordModal').modal('show');
            }
        }

        function deleteAcc() {
            if (document.getElementById('comment').value == '') {
                document.getElementById('msgD').innerHTML = 'Leave a comment';
            }
            else {
                document.getElementById('msgD').innerHTML = '';
            }
        }

    </script>
    
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script>
        if ("<%-success%>") {
            swal({
                text: "<%=success%>",
            });
        }
        else if ("<%-error%>") {
            swal({
                text: "<%=error%>",
            });
        }
    </script>
    <%- include('../partials2/cmsScripts') %>


</body>
</html>
