

<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>
  <%- include('../partials2/head', {pagename: 'CMS Admins'}) %>
</head>

<body>
  <!-- ============================================================== -->
  <!-- Preloader - style you can find in spinners.css -->
  <!-- ============================================================== -->
  <div class="preloader">
    <div class="lds-ripple">
      <div class="lds-pos"></div>
      <div class="lds-pos"></div>
    </div>
  </div>
  <!-- ============================================================== -->
  <!-- Main wrapper - style you can find in pages.scss -->
  <!-- ============================================================== -->
  <div id="main-wrapper">
    <!-- ============================================================== -->
    <!-- Topbar header - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <%- include('../partials2/navbar') %>
    <!-- ============================================================== -->
    <!-- End Topbar header -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Left Sidebar - style you can find in sidebar.scss  -->
    <!-- ============================================================== -->
    <%- include('../partials2/aside') %>
    <!-- ============================================================== -->
    <!-- End Left Sidebar - style you can find in sidebar.scss  -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Page wrapper  -->
    <!-- ============================================================== -->
    <div class="page-wrapper">
      <!-- ============================================================== -->
      <!-- Bread crumb and right sidebar toggle -->
      <!-- ============================================================== -->
      <div class="page-breadcrumb">
        <div class="row">
          <div class="col-12 d-flex no-block align-items-center">
            <h4 class="page-title">CMS Admins</h4>
          </div>
        </div>
      </div>
      <!-- ============================================================== -->
      <!-- End Bread crumb and right sidebar toggle -->
      <!-- ============================================================== -->
      <!-- ============================================================== -->
      <!-- Container fluid  -->
      <!-- ============================================================== -->
      <div class="container-fluid">
        <!-- ============================================================== -->
        <!-- Sales Cards  -->
        <!-- ============================================================== -->
        <div class="card">
          <form class="form-horizontal" action="/createAccount" method="POST">
            <div class="card-body">
              <h4 class="card-title">Personal Info</h4>
              <div class="form-group row">
                <label for="fname" class="col-sm-3 text-right control-label col-form-label">Name</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" id="fname" placeholder="Your Names Here" name="name">
                </div>
              </div>
              <div class="form-group row">
                <label for="cono1" class="col-sm-3 text-right control-label col-form-label">Email</label>
                <div class="col-sm-9">
                  <input type="email" class="form-control" id="cono1" placeholder="Email Here" name="email">
                </div>
              </div>
              <div class="form-group row">
                <label for="lname" class="col-sm-3 text-right control-label col-form-label" >Password</label>
                <div class="col-sm-9">
                  <input type="password" class="form-control" id="lname" placeholder="Password Here" name="password">
                </div>
              </div>
              <input type="hidden" class="form-control" id="inputPassword3" name="position" value="head" placeholder="Position">
            </div>
            <div class="border-top">
              <div class="card-body">
                <button type="submit" class="btn btn-primary">Authorize</button>
              </div>
            </div>
          </form>
        </div>

        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Current Admins</h5>
            <div class="table-responsive">
              <div id="zero_config_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4">

                <div class="row">
                  <div class="col-sm-12">
                    <table id="zero_config" class="table table-striped table-bordered dataTable" role="grid"
                      aria-describedby="zero_config_info">
                      <thead>
                        <tr role="row">
                          <th class="sorting_asc font-weight-bold" tabindex="0" aria-controls="zero_config" rowspan="1"
                            colspan="1" aria-label="Name: activate to sort column descending" style="width: 143px;"
                            aria-sort="ascending">Name</th>
                          <th class="sorting font-weight-bold" tabindex="0" aria-controls="zero_config" rowspan="1"
                            colspan="1" aria-label="Position: activate to sort column ascending" style="width: 233px;">Position</th>
                          <th class="sorting font-weight-bold" tabindex="0" aria-controls="zero_config" rowspan="1"
                            colspan="1" aria-label="Office: activate to sort column ascending" style="width: 108px;">Email</th>
                          <th class="sorting font-weight-bold" tabindex="0" aria-controls="zero_config" rowspan="1"
                            colspan="1" aria-label="Age: activate to sort column ascending" style="width: 44px;">Action</th>
                        </tr>
                      </thead>
                      <tbody>
                        <% for(var i=0; i < result.length; i++) { %>
                        <tr role="row" class="odd">
                          <td class="sorting_1"><%= result[i].name%></td>
                          <td class=""><%= result[i].email %></td>
                          <td><%= result[i].position %></td>
                          <td class="text-center">
                            <form action="/deleteadmin" method="POST">
                              <input type="hidden" name="id" value="<%=result[i]._id%>">
                              <button type="submit" class="btn btn-dark"><span class="fa fa-trash"></span></button>
                            </form>
                          </td>
                        </tr>
                        <% } %> 
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
        <!-- ============================================================== -->
        <!-- Recent comment and chats -->
        <!-- ============================================================== -->
      </div>

      <!-- ============================================================== -->
      <!-- End Container fluid  -->
      <!-- ============================================================== -->
      <!-- ============================================================== -->
      <!-- footer -->
      <!-- ============================================================== -->
      <footer class="footer text-center">
        All Rights Reserved by Matrix-admin. Designed and Developed by <a href="https://wrappixel.com">WrapPixel</a>.
      </footer>
      <!-- ============================================================== -->
      <!-- End footer -->
      <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Page wrapper  -->
    <!-- ============================================================== -->
  </div>
  <!-- ============================================================== -->
  <!-- End Wrapper -->
  <!-- ============================================================== -->
  <!-- ============================================================== -->
  <!-- All Jquery -->
  <!-- ============================================================== -->
  <%- include('../partials2/cmsScripts') %>


</body>

</html>