

<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!-- Tell the browser to be responsive to screen width -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <!-- Favicon icon -->
  <link rel="icon" href="img/core-img/favicon.ico">
  <title>Matrix Template - The Ultimate Multipurpose admin template</title>
  <!-- Custom CSS -->
  <link href="../../assets/libs/flot/css/float-chart.css" rel="stylesheet">
  <!-- Custom CSS -->
  <link href="../../dist/css/style.min.css" rel="stylesheet">
  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
</head>

<body>
  <!-- ============================================================== -->
  <!-- Preloader - style you can find in spinners.css -->
  <!-- ============================================================== -->
  <div class="preloader">
    <div class="lds-ripple">
      <div class="lds-pos"></div>
      <div class="lds-pos"></div>
    </div>
  </div>
  <!-- ============================================================== -->
  <!-- Main wrapper - style you can find in pages.scss -->
  <!-- ============================================================== -->
  <div id="main-wrapper">
    <!-- ============================================================== -->
    <!-- Topbar header - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <%- include('../partials2/navbar') %>
    <!-- ============================================================== -->
    <!-- End Topbar header -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Left Sidebar - style you can find in sidebar.scss  -->
    <!-- ============================================================== -->
    <%- include('../partials2/aside') %>
    <!-- ============================================================== -->
    <!-- End Left Sidebar - style you can find in sidebar.scss  -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Page wrapper  -->
    <!-- ============================================================== -->
    <div class="page-wrapper">
      <!-- ============================================================== -->
      <!-- Bread crumb and right sidebar toggle -->
      <!-- ============================================================== -->
      <div class="page-breadcrumb">
        <div class="row">
          <div class="col-12 d-flex no-block align-items-center">
            <h4 class="page-title">CMS Admins</h4>
          </div>
        </div>
      </div>
      <!-- ============================================================== -->
      <!-- End Bread crumb and right sidebar toggle -->
      <!-- ============================================================== -->
      <!-- ============================================================== -->
      <!-- Container fluid  -->
      <!-- ============================================================== -->
      <div class="container-fluid">
        <!-- ============================================================== -->
        <!-- Sales Cards  -->
        <!-- ============================================================== -->
        <div class="card">
          <form class="form-horizontal" action="/createAccount" method="POST">
            <div class="card-body">
              <h4 class="card-title">Personal Info</h4>
              <div class="form-group row">
                <label for="fname" class="col-sm-3 text-right control-label col-form-label">Name</label>
                <div class="col-sm-9">
                  <input type="text" class="form-control" id="fname" placeholder="Your Names Here" name="name">
                </div>
              </div>
              <div class="form-group row">
                <label for="cono1" class="col-sm-3 text-right control-label col-form-label">Email</label>
                <div class="col-sm-9">
                  <input type="email" class="form-control" id="cono1" placeholder="Email Here" name="email">
                </div>
              </div>
              <div class="form-group row">
                <label for="lname" class="col-sm-3 text-right control-label col-form-label" >Password</label>
                <div class="col-sm-9">
                  <input type="password" class="form-control" id="lname" placeholder="Password Here" name="password">
                </div>
              </div>
              <input type="hidden" class="form-control" id="inputPassword3" name="position" value="head" placeholder="Position">
            </div>
            <div class="border-top">
              <div class="card-body">
                <button type="submit" class="btn btn-primary">Authorize</button>
              </div>
            </div>
          </form>
        </div>

        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Current Admins</h5>
            <div class="table-responsive">
              <div id="zero_config_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4">

                <div class="row">
                  <div class="col-sm-12">
                    <table id="zero_config" class="table table-striped table-bordered dataTable" role="grid"
                      aria-describedby="zero_config_info">
                      <thead>
                        <tr role="row">
                          <th class="sorting_asc font-weight-bold" tabindex="0" aria-controls="zero_config" rowspan="1"
                            colspan="1" aria-label="Name: activate to sort column descending" style="width: 143px;"
                            aria-sort="ascending">Name</th>
                          <th class="sorting font-weight-bold" tabindex="0" aria-controls="zero_config" rowspan="1"
                            colspan="1" aria-label="Position: activate to sort column ascending" style="width: 233px;">Position</th>
                          <th class="sorting font-weight-bold" tabindex="0" aria-controls="zero_config" rowspan="1"
                            colspan="1" aria-label="Office: activate to sort column ascending" style="width: 108px;">Email</th>
                          <th class="sorting font-weight-bold" tabindex="0" aria-controls="zero_config" rowspan="1"
                            colspan="1" aria-label="Age: activate to sort column ascending" style="width: 44px;">Action</th>
                        </tr>
                      </thead>
                      <tbody>
                        <% for(var i=0; i < result.length; i++) { %>
                        <tr role="row" class="odd">
                          <td class="sorting_1"><%= result[i].name%></td>
                          <td class=""><%= result[i].email %></td>
                          <td><%= result[i].position %></td>
                          <td class="text-center">
                            <form action="/deleteadmin" method="POST">
                              <input type="hidden" name="id" value="<%=result[i]._id%>">
                              <button type="submit" class="btn btn-dark"><span class="fa fa-trash"></span></button>
                            </form>
                          </td>
                        </tr>
                        <% } %> 
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
        <!-- ============================================================== -->
        <!-- Recent comment and chats -->
        <!-- ============================================================== -->
      </div>

      <!-- ============================================================== -->
      <!-- End Container fluid  -->
      <!-- ============================================================== -->
      <!-- ============================================================== -->
      <!-- footer -->
      <!-- ============================================================== -->
      <footer class="footer text-center">
        All Rights Reserved by Matrix-admin. Designed and Developed by <a href="https://wrappixel.com">WrapPixel</a>.
      </footer>
      <!-- ============================================================== -->
      <!-- End footer -->
      <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Page wrapper  -->
    <!-- ============================================================== -->
  </div>
  <!-- ============================================================== -->
  <!-- End Wrapper -->
  <!-- ============================================================== -->
  <!-- ============================================================== -->
  <!-- All Jquery -->
  <!-- ============================================================== -->
  <script src="../../assets/libs/jquery/dist/jquery.min.js"></script>
  <!-- Bootstrap tether Core JavaScript -->
  <script src="../../assets/libs/popper.js/dist/umd/popper.min.js"></script>
  <script src="../../assets/libs/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="../../assets/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js"></script>
  <script src="../../assets/extra-libs/sparkline/sparkline.js"></script>
  <!--Wave Effects -->
  <script src="../../dist/js/waves.js"></script>
  <!--Menu sidebar -->
  <script src="../../dist/js/sidebarmenu.js"></script>
  <!--Custom JavaScript -->
  <script src="../../dist/js/custom.min.js"></script>
  <!--This page JavaScript -->
  <!-- <script src="../../dist/js/pages/dashboards/dashboard1.js"></script> -->
  <!-- Charts js Files -->
  <script src="../../assets/libs/flot/excanvas.js"></script>
  <script src="../../assets/libs/flot/jquery.flot.js"></script>
  <script src="../../assets/libs/flot/jquery.flot.pie.js"></script>
  <script src="../../assets/libs/flot/jquery.flot.time.js"></script>
  <script src="../../assets/libs/flot/jquery.flot.stack.js"></script>
  <script src="../../assets/libs/flot/jquery.flot.crosshair.js"></script>
  <script src="../../assets/libs/flot.tooltip/js/jquery.flot.tooltip.min.js"></script>
  <script src="../../dist/js/pages/chart/chart-page-init.js"></script>


</body>

</html>