
<!DOCTYPE html>
<html dir="ltr" lang="en">

<head><%- include('../partials2/head', {pagename: 'Downloads'}) %>
</head>

<body>
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <div class="preloader">
        <div class="lds-ripple">
            <div class="lds-pos"></div>
            <div class="lds-pos"></div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper">
        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->
        <%- include('../partials2/navbar') %>
        <!-- ============================================================== -->
        <!-- End Topbar header -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <%- include('../partials2/aside') %>
        <!-- ============================================================== -->
        <!-- End Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <div class="page-breadcrumb">
                <div class="row">
                    <div class="col-12 d-flex no-block align-items-center">
                        <h4 class="page-title">Downloads</h4>
                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- End Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Sales Cards  -->
                <!-- ============================================================== -->
                <div class="container bg-light">
                    <div class="class">
                        <div class="">
                            <a href="/dashboard/partner/add" class="btn btn-primary">Add New Download File <span
                                    class="fa fa-plus-circle"></span></a>
                        </div>
                        <hr>
                        <div class="row el-element-overlay">
                            <h3 class="col-lg-12 col-nd-12 col-sm-12 col-xs-12">All Downloads</h3>

                            <div class="col card-deck mt-3 pl-2">
                                <% for(let i=0; i < result.length; i++) { %>
                                <div class="col px-2 mb-4">
                                    <div class="border mb-4 px-2 py-3 row">
                                        <div class="justify-content-center"
                                            style="align-items:center">
                                            <a href="<%= result[i].postImage %>" class="btn btn-success btn-lg">
                                                <i class="fa fa-download"></i> Download file
                                            </a>
                                        </div>
                                        <div class="col-sm-8 col-xs-12">
                                            <h3><%- result[i].name %></h3>
                                            <div class="justify-content-left d-flex">
                                                <p class="mb-1 mt-0 btn mr-3">
                                                    <i class="fa fa-check-circle"></i>
                                                    <%- (result[i].is_active == 1) ? "<span class='text-success'>Published</span>" : "<span class='text-warning'>Draft</span>" %>
                                                    @ <%= result[i].createdDate.toLocaleString() %></p>
                                                <a class="btn btn-primary float-left mr-3" href="/dashboard/download/edit/<%= result[i]._id %>">Edit
                                                    File</a>
                                                <form action="/dashboard/download/delete/<%= result[i]._id %>?_method=DELETE" method="POST"
                                                    class="form-inline float-left">
                                                    <input type="hidden" name="id" value="<%=result[i]._id%>">
                                                    <input type="submit" class="btn btn-danger delete-item" value="Delete">
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <% }%>
                            </div>

                        </div>
                        <!-- ============================================================== -->
                        <!-- Recent comment and chats -->
                        <!-- ============================================================== -->
                    </div>
                    <br>
                    <!-- ============================================================== -->
                    <!-- End Container fluid  -->
                    <!-- ============================================================== -->
                    <!-- ============================================================== -->
                    <!-- footer -->
                    <!-- ============================================================== -->
                    <footer class="footer text-center">
                        All Rights Reserved by Matrix-admin. Designed and Developed by <a
                            href="https://wrappixel.com">WrapPixel</a>.
                    </footer>
                    <!-- ============================================================== -->
                    <!-- End footer -->
                    <!-- ============================================================== -->
                </div>
                <!-- ============================================================== -->
                <!-- End Page wrapper  -->
                <!-- ============================================================== -->
            </div>
            <!-- ============================================================== -->
            <!-- End Wrapper -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- All Jquery -->
            <!-- ============================================================== -->
            <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

            <%- include('../partials2/cmsScripts') %>
</body>

</html>