<!doctype html>
<html lang="en">

<head>
    <%- include('../partials/dashboard-head', {pagename: 'Edit Innovations in padegogy'}) %>
</head>

<body>
    <%- include('../partials/dashboard-nav') %>

    <div class="container-fluid">
        <div class="row">

            <!-- sidebar -->
            <%- include('../partials/sidebar.ejs', {active: 'innovations in padegogy'}) %>

            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-5 pb-2 mb-3">
                    <h1 class="h2">innovation in padegogy CMS</h1>
                </div>

                <form action="/postgaps" style = "<%if(result.length == 0) {%> display: block   <% } else if(result.length > 0) {%> display: none <% }%>"  method="POST" enctype=multipart/form-data class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                    
                    <%- include('../fields/file', { fieldname: 'newImg', fieldlabel: 'News Header Image'}); %>

                    <%- include('../fields/textarea', { fieldname: 'content', fieldlabel: 'News Content', fieldid: 'editor'}); %>

                    <%- include('../fields/filename', { fieldname: 'name', fieldplaceholder: 'innovations in padegogy', valueField: 'innovations-p' }); %>                   

                    <%- include('../fields/button', { fieldvalue: 'Upload innovations-p page'}); %>
                    
                </form>
                
                <form action="/updateinnovations-p?_method=PUT" style = "<%if(result.length == 0) {%> display: none   <% } else if(result.length > 0) {%> display: block <% }%>" method="POST" enctype=multipart/form-data class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                  
                    
                    <%- include('../fields/file', { fieldname: 'newImg', fieldlabel: 'News Header Image'}); %>

                    <%- include('../fields/textarea', { fieldname: 'content', fieldlabel: 'News Content', fieldid: 'editor1'}); %>

                    <%- include('../fields/filename', { fieldname: 'name', fieldplaceholder: 'innovations in padegogy', valueField: 'innovations-p' }); %>                   

                    <%- include('../fields/button', { fieldvalue: 'Upload innovations-p page'}); %>
                    
                </form>

                <span style="display: none" id="upload">
                    <%=upload%>
                </span>

                 <span style="display: none" id="failure">
                    <%=failure%>
                </span>

                 <span style="display: none" id="success">
                    <%=success%>
                </span>
                    <br> <br>
            </main>
        </div>
    </div>

    <%- include('../partials/dashboard-scripts') %>
    <script src="/ckeditor/ckeditor.js"></script>
    <script type="text/javascript">
        // Init Ckeditor
        
        CKEDITOR.replace('editor');
        CKEDITOR.replace('editor1');
        

                // Show success alert
        if ($.trim($('#upload').text()).length !== 0) {
            alert("<%=upload%>")
        }
          
      if($.trim($('#failure').text()).length !== 0) {
        alert("<%=failure%>")
      }
     if($.trim($('#success').text()).length !== 0) {
          alert("<%=success%>")
      }

    </script>
</body>

</html>