
<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>
    <%- include('../partials2/head', {pagename: 'Add/Edit Lecture Room Photo'}) %>
</head>

<body>
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <div class="preloader">
        <div class="lds-ripple">
            <div class="lds-pos"></div>
            <div class="lds-pos"></div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper">
        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->
        <%- include('../partials2/navbar') %>
        <!-- ============================================================== -->
        <!-- End Topbar header -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <%- include('../partials2/aside') %>
        <!-- ============================================================== -->
        <!-- End Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <div class="page-breadcrumb">
                <div class="row">
                    <div class="col-12 d-flex no-block align-items-center">
                        <h4 class="page-title"><%= (typeof action != 'undefined') ? 'Edit' : 'Create' %>: <span
                                class="text-info">LECTURE ROOM PHOTO</span></h4>
                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- End Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Sales Cards  -->
                <!-- ============================================================== -->
                <div class="container">
                    <div class="card">
                        <form action="<%= (typeof action != 'undefined') ? action : '/dashboard/lecture-room-photo/add' %>" method="post" enctype="multipart/form-data">
                            <div class="card-body">
                            <%- include('../fields/text', { fieldname: 'name', fieldlabel: 'Photo Title', valueField: (typeof result != 'undefined') ? result.name : '' }); %>
                            
                            <hr class="my-4" />
                            <%- include('../fields/file', { fieldname: 'postImage', fieldlabel: 'File (Images Only)', valueField: (typeof result != 'undefined') ? result.postImage : '' }); %>
                            
                            <hr class="my-4" />
                            <%- include('../fields/textarea', { fieldname: 'content', fieldlabel: 'Image Caption', valueField: (typeof result != 'undefined') ? result.content : '' }); %>
                            
                            <hr class="my-4" />
                            <%- include('../fields/radio', { fieldname: 'is_active', fieldlabel: 'Is Published', valueField: (typeof result != 'undefined') ? result.is_active : 1 }); %>
                            </div>

                            <%- include('../fields/button', { fieldvalue: (typeof action != 'undefined') ? 'UPDATE PHOTO' : 'CREATE PHOTO' }); %>
                            <a href="/dashboard/lecture-room-photos" class="btn btn-success pull-right"><i class="fa fa-caret-left pr-2"> </i>Back
                                to List</a>
                        </form>
                    </div>

                </div>
                <!-- ============================================================== -->
                <!-- Recent comment and chats -->
                <!-- ============================================================== -->
            </div>
            <br>
            <!-- ============================================================== -->
            <!-- End Container fluid  -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- footer -->
            <!-- ============================================================== -->
            <footer class="footer text-center">
                All Rights Reserved by Matrix-admin. Designed and Developed by <a
                    href="https://wrappixel.com">WrapPixel</a>.
            </footer>
            <!-- ============================================================== -->
            <!-- End footer -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Page wrapper  -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="/ckeditor/ckeditor.js"></script>
    <script type="text/javascript">
        CKbasic('content');
    </script>

    <%- include('../partials2/cmsScripts') %>


</body>

</html>