

<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>
<<<<<<< HEAD
    <%- include('../partials2/head', {pagename: 'Contact-Us'}) %>
</head>

<body>
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <div class="preloader">
        <div class="lds-ripple">
            <div class="lds-pos"></div>
            <div class="lds-pos"></div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper">
        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->
        <%- include('../partials2/navbar') %>
        <!-- ============================================================== -->
        <!-- End Topbar header -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <%- include('../partials2/aside') %>
        <!-- ============================================================== -->
        <!-- End Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <div class="page-breadcrumb">
                <div class="row">
                    <div class="col-12 d-flex no-block align-items-center">
                        <h4 class="page-title">Edit Page: <span class="text-info">Settings</span></h4>
                    </div>
=======
    <%- include('../partials/dashboard-head', {pagename: 'CMS Settings'}) %>
</head>

<body>
    <%- include('../partials/dashboard-nav') %>

    <div class="container-fluid">
        <div class="row">
            <!-- sidebar -->
            <%- include('../partials/sidebar.ejs', {page: 'settings'}) %>

            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-5 pb-2 mb-3">
                    <h1 class="h2">CMS Settings</h1>
>>>>>>> 9044f2dd2429e15efd853fbbbacc313e942f4143
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- End Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Sales Cards  -->
                <!-- ============================================================== -->
                <div class="container">
                    <div class="card">
                        <form class="form-horizontal"action="/postdashboard/settings" method="POST" enctype="multipart/form-data">
                            <div class="card-body">
                                <%- include('../fields/text', { fieldname: 'siteName', fieldplaceholder: 'Site Name', fieldlabel: 'Site Name', valueField: ''}); %>
                                
                                <%- include('../fields/file', { fieldname: 'siteLogo', fieldlabel: 'Site Logo', valueField: ''}); %>
                                
                                <%- include('../fields/hidden', { fieldname: 'tag', valueField: 'settings' }); %>
                            </div>

<<<<<<< HEAD
                        <%- include('../fields/button', { fieldvalue: 'Upload settings'}); %>
                        </form>
                    </div>

                </div>
                <!-- ============================================================== -->
                <!-- Recent comment and chats -->
                <!-- ============================================================== -->
            </div>
            <br>
            <!-- ============================================================== -->
            <!-- End Container fluid  -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- footer -->
            <!-- ============================================================== -->
            <footer class="footer text-center">
                All Rights Reserved by Matrix-admin. Designed and Developed by <a href="https://wrappixel.com">WrapPixel</a>.
            </footer>
            <!-- ============================================================== -->
            <!-- End footer -->
            <!-- ============================================================== -->
=======
                <form action="/dashboard/settings" method="POST" enctype=multipart/form-data class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                    <%- include('../fields/text', { fieldname: 'siteUrl', fieldplaceholder: 'Site URL', fieldlabel: 'Site URL', valueField: (typeof result != 'undefined') ? result[3].value : '' }); %>
                    <div><hr/></div>

                    <%- include('../fields/text', { fieldname: 'siteName', fieldplaceholder: 'Site Name', fieldlabel: 'Site Name', valueField: (typeof result != 'undefined') ? result[0].value : '' }); %>
                    <div><hr/></div>

                    <%- include('../fields/text', { fieldname: 'siteShortName', fieldplaceholder: 'Site Short Name', fieldlabel: 'Site Short Name', valueField: (typeof result != 'undefined') ? result[4].value : '' }); %>
                    <div><hr/></div>

                    <%- include('../fields/file', { fieldname: 'siteLogo', fieldlabel: 'Site Logo', valueField: (typeof result != 'undefined') ? result[2].value : '' }); %>
                    <div><hr/></div>

                    <%- include('../fields/text', { fieldname: 'contactEmails', fieldplaceholder: 'Recipient Email Address', fieldlabel: 'Recipient Email Address', valueField: (typeof result != 'undefined') ? result[1].value : '' }); %>
                    <div><hr/></div>

                    <div class="col-sm-10 ml-md-auto px-0">
                        <%- include('../fields/button', { fieldvalue: 'Update settings'}); %>
                    </div>
                </form>
            </main>
>>>>>>> 9044f2dd2429e15efd853fbbbacc313e942f4143
        </div>
        <!-- ============================================================== -->
        <!-- End Page wrapper  -->
        <!-- ============================================================== -->
    </div>
<<<<<<< HEAD
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script type="text/javascript">

        // Show success alert
        if ($.trim($('#upload').text()).length !== 0) {
            alert("<%=upload%>")
        }

    </script>
    <%- include('../partials2/cmsScripts') %>

=======

    <%- include('../partials/dashboard-scripts') %>
>>>>>>> 9044f2dd2429e15efd853fbbbacc313e942f4143

</body>
</html>