

<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>
    <%- include('../partials2/head', {pagename: 'Slider'}) %>
</head>

<body>
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <div class="preloader">
        <div class="lds-ripple">
            <div class="lds-pos"></div>
            <div class="lds-pos"></div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper">
        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->
        <%- include('../partials2/navbar') %>
        <!-- ============================================================== -->
        <!-- End Topbar header -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <%- include('../partials2/aside') %>
        <!-- ============================================================== -->
        <!-- End Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <div class="page-breadcrumb">
                <div class="row">
                    <div class="col-12 d-flex no-block align-items-center">
                        <h4 class="page-title"><%= (typeof action != 'undefined') ? 'Edit' : 'Create' %> Page Content:<span class="text-info">Slider</span></h4>
                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- End Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Sales Cards  -->
                <!-- ============================================================== -->
                <div class="container">
                    <div class="card">
                        <form class="form-horizontal" action="<%= (typeof action != 'undefined') ? action : '/dashboard/slider/add' %>" method="post" enctype="multipart/form-data">
                            <div class="card-body">
                                <%- include('../fields/text', { fieldname: 'name', fieldlabel: 'Slider Name', valueField: (typeof result != 'undefined') ? result.name : '' }); %>
                                
                                <%- include('../fields/file', { fieldname: 'postImage', fieldlabel: 'Slider Image', valueField: (typeof result != 'undefined') ? result.postImage : false }); %>
                                
                                <%- include('../fields/textarea', { fieldname: 'text_on_img', fieldlabel: 'Text On Slider', valueField: (typeof result != 'undefined') ? result.text_on_img : '' }); %>
                                
                                <%- include('../fields/text', { fieldname: 'img_link', fieldlabel: 'Slider On-click URL', valueField: (typeof result != 'undefined') ? result.img_link : '' }); %>
                                
                                <%- include('../fields/text', { fieldname: 'img_link_text', fieldlabel: 'Slider On-click Label', valueField: (typeof result != 'undefined') ? result.img_link_text : '' }); %>
                                
                                <%- include('../fields/radio', { fieldname: 'is_visible', fieldlabel: 'Is Enabled', valueField: (typeof result != 'undefined') ? result.is_visible : 1 }); %>
                            </div>

                            <%- include('../fields/button', { fieldvalue: (typeof action != 'undefined') ? 'UPDATE SLIDER' : 'CREATE SLIDER' }); %>
                            <a href="/dashboard/sliders" class="btn btn-success pull-right"><i class="fa fa-caret-left pr-2"> </i>Back to List</a>
                        </form>
                    </div>

                </div>
                <!-- ============================================================== -->
                <!-- Recent comment and chats -->
                <!-- ============================================================== -->
            </div>
            <br>
            <!-- ============================================================== -->
            <!-- End Container fluid  -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- footer -->
            <!-- ============================================================== -->
            <footer class="footer text-center">
                All Rights Reserved by Matrix-admin. Designed and Developed by <a
                    href="https://wrappixel.com">WrapPixel</a>.
            </footer>
            <!-- ============================================================== -->
            <!-- End footer -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Page wrapper  -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="/ckeditor/ckeditor.js"></script>
    <script type="text/javascript">
        CKbasic('text_on_img');
    </script>
    <script type="text/javascript">
        // Init Ckeditor
        

        // Show POST success alert
        
    </script>
    <%- include('../partials2/cmsScripts') %>


</body>

</html>