

<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" href="img/core-img/favicon.ico">
    <title>Edit News</title>
    <!-- Custom CSS -->
    <link href="../../assets/libs/flot/css/float-chart.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="../../dist/css/style.min.css" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
</head>

<body>
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <div class="preloader">
        <div class="lds-ripple">
            <div class="lds-pos"></div>
            <div class="lds-pos"></div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper">
        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->
        <%- include('../partials2/navbar') %>
        <!-- ============================================================== -->
        <!-- End Topbar header -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <%- include('../partials2/aside') %>
        <!-- ============================================================== -->
        <!-- End Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <div class="page-breadcrumb">
                <div class="row">
                    <div class="col-12 d-flex no-block align-items-center">
                        <h4 class="page-title">Edit Page: <span class="text-info">News</span></h4>
                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- End Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Sales Cards  -->
                <!-- ============================================================== -->
                <div class="container">
                    <div class="card">
                        <form class="form-horizontal" action="/dashboard/slider/add" method="post" enctype="multipart/form-data">
                            <div class="card-body">
                                <%- include('../fields/text', { fieldname: 'name', fieldlabel: 'Slider Name', valueField: ''}); %>
                                
                                <%- include('../fields/file', { fieldname: 'postImage', fieldlabel: 'Slider Image', valueField: ''}); %>
                                
                                <%- include('../fields/textarea', { fieldname: 'text_on_img', fieldlabel: 'Text On Slider', valueField: ''}); %>
                                
                                <%- include('../fields/text', { fieldname: 'img_link', fieldlabel: 'Slider On-click URL', valueField: ''}); %>
                                
                                <%- include('../fields/text', { fieldname: 'img_link_text', fieldlabel: 'Slider On-click Label', valueField: ''}); %>
                                
                                <%- include('../fields/radio', { fieldname: 'is_active', fieldlabel: 'Is Enabled', valueField: '1'}); %>
                            </div>

                            <%- include('../fields/button', { fieldvalue: 'CREATE SLIDER' }); %>
                        </form>
                    </div>

                </div>
                <!-- ============================================================== -->
                <!-- Recent comment and chats -->
                <!-- ============================================================== -->
            </div>
            <br>
            <!-- ============================================================== -->
            <!-- End Container fluid  -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- footer -->
            <!-- ============================================================== -->
            <footer class="footer text-center">
                All Rights Reserved by Matrix-admin. Designed and Developed by <a href="https://wrappixel.com">WrapPixel</a>.
            </footer>
            <!-- ============================================================== -->
            <!-- End footer -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Page wrapper  -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="/ckeditor/ckeditor.js"></script>
    <script type="text/javascript">
        // Init Ckeditor
        CKEDITOR.replace('text_on_img', {
            toolbar: [
                { name: 'basic', items: ['Font', 'Format', 'FontSize', 'TextColor', 'BGColor', '-', 'Bold', 'Italic', 'Underline', 'Strike', 'Subscript', 'Superscript', '-', 'JustifyLeft', 'JustifyCenter', 'JustifyRight', 'JustifyBlock', '-', 'Copy', 'Cut', 'Paste', 'PasteText', 'PasteFromWord', '-', 'Image', '-', 'NumberedList', 'BulletedList'] },
                '/',
                { name: 'insert', items: ['Link', 'Unlink', 'Outdent', 'Indent', 'SpecialChar', 'InsertPre', 'HorizontalRule', 'PageBreak', '-', 'Image', '-', 'SelectAll', 'RemoveFormat', 'Undo', 'Redo', 'Maximize'] },
            ],
            height: 350
        });

        // Show POST success alert
        if ($.trim($('#upload').text()).length !== 0) {
            alert("<%=upload%>")
        }

        // Show POST error alert
        if ($.trim($('#failure').text()).length !== 0) {
            alert("<%=failure%>")
        }

    </script>
    <%- include('../partials2/cmsScripts') %>


</body>

</html>

