<!doctype html>
<html lang="en">
<head>
    <%- include('../partials/dashboard-head', { pagename: 'Edit VCs Speech' }) %>
</head>
<body>
    <%- include('../partials/dashboard-nav') %>

    <div class="container-fluid">
        <div class="row">

            <!-- sidebar -->
            <%- include('../partials/sidebar.ejs', {page: "VC Speech", activeParent: 'home'}) %>

            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-5 pb-2 mb-3">
                    <h1 class="h2 rw">Edit Page Content: <span class="text-info">VC's Speech</span></h1>
                </div>

                <form action="/dashboard/speech" method="post" enctype="multipart/form-data" class="col-lg-10 col-md-10 col-sm-10 col-xs-10">

                    <%- include('../fields/file', { fieldname: 'postImage', fieldlabel: "VC's Image", valueField: (result) ? result.postImage : "" }); %>

                    <%- include('../fields/text', { fieldname: 'postImageCaption', fieldlabel: 'Image caption', valueField: (result) ? result.postImageCaption : "" }); %>

                    <%- include('../fields/textarea', { fieldname: 'content', fieldlabel: "VC's Speech", valueField: (result) ? result.content : "" }); %>

                    <%- include('../fields/text', { fieldname: 'vc_name', fieldlabel: "VC's Name", valueField: (result) ? result.summary : "" }); %>

                    <hr class="my-4"/>
                    <div class="col-sm-10 ml-md-auto pl-0">
                        <%- include('../fields/button', { fieldvalue: 'UPDATE CONTENT' }); %>
                    </div>

                </form>
            </main>
        </div>
    </div>

    <%- include('../partials/dashboard-scripts') %>
    <script>
        CKfull('content')
    </script>
</body>
</html>
